p.lead {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.title h1 {
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
}

.w-75 {
    width: 75%!important;
}

.mr-auto,
.mx-auto {
    margin-right: auto!important;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.mt-5,
.my-5 {
    margin-top: 3rem!important;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}